<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 270224</title>
    <style>
        .realizada {
            text-decoration: line-through;
            color: grey;
        }

        .prioritario {
            color: red;
        }
    </style>
</head>

<body>
    <div id="app" style="display: inline-flex;">
        <input type="text" v-model="tarefaUtilizador" @keyup.enter=insereTarefa(tarefaUtilizador)>
        <button @click="toogleEdit()">Editar</button>
        <ol v-if="editar">
            <li @click="realizaTarefa(item)" v-for="item in tarefas"
                v-bind:class="{realizada:item.realizado,prioritario:item.prioritario}">{{item.nome}}</li>
        </ol>
        <ol>
            <input type="checkbox" v-for="item in tarefas" v-model="realizar">

        </ol>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        Vue.createApp(
            {
                data() {
                    return {
                        tarefas:
                            [
                                { nome: "Exercicio de HTML", prioritario: false, realizado: true },
                                { nome: "Exercicio de CSS ", prioritario: false, realizado: true },
                                { nome: "Exercicio de Javascript", prioritario: true, realizado: false },
                                { nome: "Exercicio de VueJs", prioritario: true, realizado: false },
                                { nome: "Projeto 1", prioritario: false, realizado: false },
                            ],

                        tarefaUtilizador: '',
                        editar: false
                    }
                },
                methods:
                {
                    insereTarefa(tarefa) {
                        if (tarefa != "") {
                            this.tarefas.push({ nome: tarefa, prioritatio: false, realizado: false })
                            this.tarefaUtilizador = ''
                        }

                    },
                    realizaTarefa(tarefa) {
                        tarefa.realizado = !tarefa.realizado;
                    },

                    toogleEdit() {
                        this.editar = !this.editar;
                    }


                }
            }

        )
            .mount('#app');
    </script>
</body>

</html>